<h1>CryptoMessage Box</h1>
<form id="form" accept-charset="utf-8">
  <table>
    <tr>
      <td>
        <label for="key">Key:</label>
      </td>
      <td>
        <input id="key" type="text" name="key" placeholder="Enter key...">
      </td>
    </tr>
    <tr>
      <td>
        <label for="value">Value:</label>
      </td>
      <td>
        <input id="value" type="text" name="value" placeholder="Enter value...">
      </td>
    </tr>
    <tr>
      <td>
        <input type="submit" value="Submit">
      </td>
    </tr>
  </table>
</form>
<script src="/js/bundle.js" type="text/javascript" charset="utf-8" async defer></script>