body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  border-color: aliceblue;
  border-radius: 15px;
  border-width: 3px;
  border-style: groove;
  max-width: 300px; }

a {
  color: #00B7FF; }
